.sceen {
  height: 100vh;
  height: 100svh;
  font-size: 40px;
  position: relative;
  overflow: hidden;
  perspective: 40em;
  perspective-origin: 70% calc(50% - 10em);
  &__container{
    transform-style: preserve-3d;
    height: 100%;
  }
}
