$unit-of-measurement:2.6vw;

.sceen {
  height: 100vh;
  height: 100svh;
  font-size: $unit-of-measurement;
  position: relative;
  overflow: hidden;
  perspective:  calc($unit-of-measurement * 40);
  perspective-origin: 70% calc(50% - $unit-of-measurement * 10);
  &__container {
    transform-style: preserve-3d;
    height: 100%;
  }
  &__title{
    position: absolute;
    color: #fafafa;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 6vh;
    font-size: 3vw;
  }
}
