$slide-height:50vh;
$slide-width:16vw;
$slide-gap:2vw;

.slides{
    font-size: 16px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    &__list{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center ;
        height: $slide-height;
        width: calc($slide-width * 6 + $slide-gap * 5);
        margin: 20px;
        transform-style: preserve-3d;
    }
    &__item{
        position: absolute;
        opacity: 0;
        height: $slide-height;
        width: $slide-width;
        transition: .3s;
        z-index: -1;
        &--cover{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            position: absolute;
            top: 0;
            width: 100%;
            height: 80%;
            transition: .3s;
            background-image: url(https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHx8&w=1000&q=80);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &--content{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            bottom: 0;
            position: absolute;
            height: 100%;
            background-color: #fafafa;
            width: 100%;
            transition: .3s;
            &-container{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                position: absolute;
                z-index: 1;
                bottom: 2vw;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &--title{
            font-size: 1.8vw;
            font-style: italic;
        }
        &--complexity{
            margin: 1.3vw;
            display: flex;
            gap: 0.3vw;
            font-size: 1vw;
            color: red;
            opacity: 0.7;
        }
        &--btn{
            font-family: 'Rubik', sans-serif;
            font-size: 0.8vw;
            text-transform: uppercase;
            padding: 0.5vw 1.5vw;
            border-radius: 10px;
            border: 0;
            background-color: #0091ff;
            color: #fafafa;
            box-shadow: 0 0 1vw -0.1vw #62b3f0;
            transition: .3s;
            &:hover{
                box-shadow: 0 0 1vw -0.1vw #0091ff;
            }
            &:active{
                scale: 0.92;
            }
        }
        &[data-position="-3"]{
            transform: translate(- calc($slide-width * 2 + $slide-gap)) rotateY(-70deg);
        }
        &[data-position="3"]{
            transform: translate(calc($slide-width * 2 + $slide-gap)) rotateY(70deg);
        }
        &[data-position="-2"]{
            opacity:0.6;
            filter: grayscale(0.8);
            transform: translate(- calc($slide-width * 2 + $slide-gap)) rotateY(-45deg);
            .slides__item--content{
                clip-path: polygon(100% 60%, 0% 30%, 0% 100%, 100% 100%);
            }
            .slides__item--cover{
                height: 60%;
            }
        }
        &[data-position="-1"]{
            opacity:0.8;
            filter: grayscale(0.6);
            transform: translate(- calc($slide-width + $slide-gap)) rotateY(-20deg);
            .slides__item--content{
                clip-path: polygon(100% 50%, 0% 30%, 0% 100%, 100% 100%);
            }
            .slides__item--cover{
                height: 50%;
            }
        }
        &[data-position="0"]{
            z-index: 1;
            opacity:1;
            .slides__item--content{
                clip-path: polygon(100% 50%, 0% 50%, 0% 100%, 100% 100%);
            }
            & button{
                cursor: pointer;
            }
        }
        &[data-position="1"]{
            transform: translate(calc($slide-width + $slide-gap)) rotateY(20deg);
            filter: grayscale(0.6);
            opacity:0.8;
            .slides__item--content{
                clip-path: polygon(100% 30%, 0% 50%, 0% 100%, 100% 100%);
            }
            .slides__item--cover{
                height: 50%;
            }
        }
        &[data-position="2"]{
            transform: translate(calc($slide-width * 2 + $slide-gap)) rotateY(45deg);
            filter: grayscale(0.8);
            opacity:0.6;
            .slides__item--content{
                clip-path: polygon(100% 30%, 0% 60%, 0% 100%, 100% 100%);
            }
            .slides__item--cover{
                height: 60%;
            }
        }
    }
    &__controls{
        display: flex;
        color: #fafafa;
        gap: 20px;
        &--arrows{
            font-size: 20px;
            cursor: pointer;
            border: 3px solid #fafafa;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            transition: .3s;
            &:hover{
                background-color: rgba($color: #fafafa, $alpha: 0.2);
            }
            &:active{
                scale: 0.92;
            }
        }
    }
}