$height: 3em;
$width: 2em;

.typo {
  user-select: none;
  display: flex;
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transition: 0.3s;
  &__precentage {
    position: relative;
    color: #fafafa;
    font-size: 24px;
    font-style: italic;
    &::before{
      content: "Precentage:";
      color: #fafafa;
      position: absolute;
      bottom: 100%;
      margin-bottom: 5px;
      left: 50%;
      font-size: 16px;
      font-style: italic;
      transform: translateX(-50%);
    }
  }
  &__reset{
    position: absolute;
    z-index: 100;
    border:none;
    background-color: rgba(0,0,0,0);
    color: #fafafa;
    font-size: 24px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: .3s;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    &:hover{
      scale: 1.1;
    }
    & svg{
      pointer-events: none;
    }
    &.spin{
      & svg{
        animation-name: spin;
        animation-duration:.5s;
        animation-iteration-count: 1;
      }
    }
  }
  &__item {
    perspective: 40em;
    font-weight: bold;
    transform-style: preserve-3d;
    width: $width;
    height: $height;
    position: relative;
    margin-right: 1em;
    color: #fafafa;
    user-select: none;
    &.current {
      & .typo__item--particle {
        border: 1px solid rgb(0, 195, 255);
      }
    }
    &.incorrect {
      animation-name: incorrect;
      animation-timing-function: ease-in-out;
      animation-duration: .5s;
      animation-iteration-count: 1;
    }
    &.correct {
      animation-name: correct;
      animation-duration: .7s;
      animation-iteration-count: 1;
      & .typo__item--particle {
        background-color:#6fe4ff;
        &.front {
          background-color: #3573e0;
        }
      }
    }
    &--particle {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: 0.3s background-color, 0.3s color;
      &.front {
        transform: translate3d(0, 0, calc($height / 2));
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.bottom {
        transform: rotateX(90deg) translate3d(0, 0, calc($height / -2));
      }
      &.top {
        transform: rotateX(90deg) translate3d(0, 0, calc($height/2));
      }
      &.back {
        transform: translate3d(0, 0, calc($height / -2));
      }
      &.right {
        width: $height;
        transform: rotateY(90deg) translate3d(0, 0, 0.5em);
      }
      &.left {
        width: $height;
        transform: rotateY(90deg) translate3d(0, 0, calc($width * -1 + 0.5em));
      }
    }
  }
  &__lives{
    position: absolute;
    color: red;
    top: 38%;
    display: flex;
    left: 50%;
    transform: translate(-40%,-50%);
    gap: 14px;
    font-size: 18px;
  }
  &__footer{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
  }
  &__streak{
    position: relative;
    color: #fafafa;
    font-size: 18px;
    margin-left: 15px;
    font-style: italic;
    &::before{
      content: "Streak:";
      color: #fafafa;
      position: absolute;
      bottom: 100%;
      margin-bottom: 5px;
      left: 50%;
      font-size: 12px;
      font-style: italic;
      transform: translateX(-50%);
    }
  }
  &__quit{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    padding: 5px 10px;
    border-radius: 10px;
    transition: .3s;
    background-color: red;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    &:hover{
      scale: 1.1;
    }
    &:active{
      scale: 0.98;
    }
  }
  &__timer{
    user-select: none;
    position: relative;
    color: #fafafa;
    font-size: 18px;
    font-style: italic;
    &::before{
      content: "Timer:";
      color: #fafafa;
      position: absolute;
      bottom: 100%;
      margin-bottom: 5px;
      left: 50%;
      font-size: 12px;
      font-style: italic;
      transform: translateX(-50%);
    }
    &--item:nth-child(1){
      width: 23px;
      display: inline-block;
    }
    &--item:nth-child(2){
      width: 23px;
      display: inline-block;
    }
    &--item:nth-child(3){
      width: 35px;
      display: inline-block;
    }
  }
}


@keyframes incorrect{
  0%{
    translate: 0;
  }
  33%{
    translate: 20%;
  }
  66%{
    translate: -20%;
  }
  100%{
    translate: 0;
  }
}

@keyframes correct{
  0%{
    scale:0.8;
  }
  100%{
    scale:1;
  }
}
@keyframes spin{
  0%{
    transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}